.formRow {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-bottom: 20px;
}

.formRow > div:not(:last-child) {
  padding-right: 30px;
}

.fieldBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fieldBlock label {
  font-weight: 600;
  margin-bottom: 10px;
}

.fieldBlock input {
  padding: 10px;
  outline: none;
  background-color: #e7ebed;
  border-radius: 5px;
  border: 1px solid #e7ebed;
}

.fieldBlock-disabled input {
  background-color: #efefef;
}

.fieldBlock-error input {
  border: 1px solid rgb(223, 86, 87);
}

.fieldBlock input:focus {
  border: 1px solid #4f9aca;
}

.fieldBlock-errorText {
  margin-top: 4px;
  color: rgb(223, 86, 87);
}

.fieldBlock-asterisk {
  color: rgb(223, 86, 87);
}
