.formRow {
  display: flex;
  flex-direction: row;
  height: 60px;
}

.formRow > div:not(:last-child) {
  padding-right: 30px;
}

.fieldBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fieldBlock-errorText {
  color: rgb(223, 86, 87);
}

.fieldBlock-asterisk {
  color: rgb(223, 86, 87);
}
